<h1><%= @user.first_name %> Recipes</h1>

<% @user.recipes.each do |recipe| %>
  <li>
    <%= link_to recipe.name, recipe_path(recipe) %>
    <%= link_to "edit", edit_recipe_path(recipe) %>
  </li>
<% end %>

