<footer class="footer-basic-centered">

  <p class="footer-company-motto">Cook beautiful things.</p>
  
  <p class="footer-links">
    <%= link_to "Home", root_path %>
    ·
    <%= link_to "Sign Up", new_user_registration_path %>
    ·
    <%= link_to "Login", new_user_session_path %>
  </p> 

  <p class="footer-company-name">Recipes Royale &copy; 2016</p>

</footer>