<div class="jumbotron ingredients-show-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
		      <div class="row">
		        <h1><%= @ingredient.name %> Recipes</h1>
		        <div class="col-xs-12">
			        <% @recipes.each do |recipe| %>
							  <p>
							    <%= link_to recipe.name, ingredient_recipe_path(@ingredient, recipe), class: 'btn btn-block btn-primary btn-recipe' %>
							  </p>
							<% end %>
		        </div>
		      </div>
		    </div>
      </div>
    </div>
  </div>
</div>
