<div class="container-fluid">
  <div class="row">
    <% @courses.each do |course| %>
    <div class="col-md-3 course-section">
      <%= link_to course.name, course_path(course), class: "btn btn-block btn-primary btn-course btn-#{course.name.gsub(/\s+/,'-').downcase}" %>
      <%= link_to 'Add A Recipe', new_course_recipe_path(course), class: 'btn-add-recipe btn btn-block btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
