<div class="jumbotron <%= @course.name.gsub(/\s+/,'-').downcase%>-hero">
  <div class="container">
    <div class="row">
      <h1><%= @course.name %></h1>
      <div class="col-sm-6 col-sm-offset-3">
      <% @recipes.each do |recipe| %>
        <%= link_to recipe.name, course_recipe_path(@course, recipe), class: 'btn btn-block btn-default btn-recipe' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
