.btn-course {
  height: 400px;
  position: relative;
}

div.course-section {
  padding-left: 0;
  padding-right: 0;
}

a.btn-appetizer {
  background: url(https://static.pexels.com/photos/2666/food-restaurant-eat-snack.jpg) center center no-repeat;
}

a.btn-salad {
  background: url(https://static.pexels.com/photos/5928/salad-healthy-diet-spinach.jpg) center center no-repeat;
}

a.btn-main-course {
  background: url(https://static.pexels.com/photos/29408/pexels-photo-29408.jpg) center center no-repeat;
}

a.btn-dessert {
  background: url(https://static.pexels.com/photos/14107/pexels-photo-14107.jpeg) center center no-repeat;
}

a.btn-appetizer,
a.btn-salad,
a.btn-main-course,
a.btn-dessert {
  background-size: cover;
  border-radius: 0;
  border: none;
  font-size: 18px;
}

a.btn-add-recipe {
  position: absolute;
  bottom: 20px;
}

a.btn-appetizer:hover,
a.btn-salad:hover,
a.btn-main-course:hover,
a.btn-dessert:hover {
  opacity: .7;
}


