nav.navbar {
	margin-bottom: 0;
}

.home-hero {
  background: url(https://static.pexels.com/photos/3329/food-kitchen-cutting-board-cooking.jpg) center center no-repeat;
  background-size: cover;
  height: 800px;
  color: #fff;
  text-align: center;
}

.home-hero h1 {
  margin-top: 175px;
}

.home-hero h1,
.home-hero p {
  text-shadow: 3px 3px 3px #000;
}
