div.ingredients-hero {
	background: url(https://static.pexels.com/photos/130980/pexels-photo-130980.jpeg) center center no-repeat;
	background-size: cover;
	height: 800px;
}

div.ingredients-hero h1 {
	color: #fff;
	text-shadow: 2px 2px 3px #000;
	margin-top: 75px;
}